@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="">
    <h1 style="color:red">Üçlü Mekonomik Menü</h1>
    <h5>  3 Adet Burger + 3 Adet Orta Boy Patates +3 Adet İçecek</h5>
    <br />
    <div class="d-flex justify-content-between">
        <img style=" height:30rem;width:500px;" src="~/img/ham5.jpg" class="card-img-top" alt="...">
        <div>
            <h3><label for="exampleDataList" class="form-label">Tercihler</label></h3>
            <div class="col-md-12">
                <h5><label for="inputState" class="form-label">İçecek</label></h5>
                <select id="inputState" class="form-select">

                    <option selected>Coca-Cola</option>
                    <option>Coca-Cola Zero Sugar</option>
                    <option>Fanta</option>
                    <option>Sprite</option>
                    <option>Fuse Tea</option>
                </select>
            </div>
            <div class="col-md-12">
                <h5><label for="inputState" class="form-label">Soslar</label></h5>
                <select id="inputState" class="form-select">

                    <option selected>Ketçap</option>
                    <option>Mayonez</option>
                    <option>Sarımsaklı Mayonez</option>
                    <option>Acı Sos</option>
                </select>
            </div>
            <div class="col-md-12">
                <h5><label for="inputState" class="form-label"> Promosyon</label></h5>
                <select id="inputState" class="form-select">
                    <option selected>Patates Kızartması</option>

                </select>
            </div>

            <div class="col-md-12">
                <h5><label for="inputState" class="form-label">Tatlı Promosyon</label></h5>
                <select id="inputState" class="form-select">
                    <option selected>McFlurry™ - Böğürtlen [27.00 TL ekle]</option>
                    <option>McFlurry™ - Sade [27.00 TL ekle]</option>
                    <option> McFlurry™ - Bonibon [27.00 TL ekle]</option>
                    <option> Çuros (Çikolata Soslu) [24.00 TL ekle]</option>
                    <option> Çuros (Karamel Soslu) [24.00 TL ekle]</option>
                </select>
            </div>


            <div class="col-md-12">
                <h5><label for="inputState" class="form-label">Extra Soslar</label></h5>
                <select id="inputState" class="form-select">
                    <option selected>2x2 Sos (2 Buffalo + 2 Ranch) [12,00 TL ekle]</option>
                    <option>Karma Sos 1 Barbekü + 1 Buffalo + 1 Hardal + 1 Ranch [12,00 TL ekle]</option>
                    <option> Ranch Sos [4,00 TL ekle]</option>
                    <option> Barbekü Sos [4,00 TL ekle]</option>
                    <option> Bufalo Sos [4,00 TL ekle]</option>
                    <option> Hardal Sos [4,00 TL ekle]</option>
                    <option> Ketçap [3,00 TL ekle]</option>
                    <option> Mayonez [3,00 TL ekle]</option>
                </select>
            </div>
            <h3 style="display:flex;justify-content:end;">207₺</h3>
            <button style="" type="button" class="btn btn-warning btn-lg"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sepet</a></button>
        </div>

    </div>

</div>