@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-3">
         <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham1">
        <div class="card border border-dark col-sm-12" style="width: 18rem;text-decoration:none">
                <img style=" height:10rem;object-fit:cover;" src="~/img/Hamburger 1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <h3 style="color:darkorange">Gamer Menü</h3>
            </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">1 adet Double Köfte (250gr) Burger sandviç </li>
                <li class="list-group-item">1 adet orta boy patates</li>
                <li class="list-group-item">1 adet litrelik içecek veya 2 adet ayran</li>
        </ul>
        <div class="card-body">
                <h4>196₺</h4>
        </div>
      </div>
      </a>
    </div>

    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham2">
            <div class="card border border-dark col-sm-12" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/Hamburger2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 style="color:darkorange">Hesaplı Menü</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1 YukselChicken™</li>
                <li class="list-group-item">1 Orta boy Patates, 8'li Soğan Halkası'</li>
                <li class="list-group-item">Coca-Cola Zero Sugar (330 ml)</li>
            </ul>
            <div class="card-body">
                <h4>96₺</h4>
            </div>
        </div>
        </a>
    </div>

    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham3">
        <div class="card border border-dark col-sm-12" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/hamburger3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 style="color:darkorange">İkili Mekonomik Menü</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">2 Adet Burger</li>
                <li class="list-group-item">2 Adet Patatesli</li>
                <li class="list-group-item">2 Adet İçecek</li>
            </ul>
            <div class="card-body">
                <h4>143₺</h4>
            </div>
        </div>
        </a>
    </div>


        <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham4">
            <div class="card border border-dark col-lg-12" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/Ham4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 style="color:darkorange" class="card-title">2'li Yüksel Burger Menü</h3>
               
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> 2 Adet Max Burger </li>
                <li class="list-group-item">1 Orta Patates Kızartması</li>
                <li class="list-group-item"> 2 Orta İçecek</li>
            </ul>
            <div class="card-body">
                <h4>150₺</h4>
            </div>
        </div>
        </a>
    </div>

    
</div>

<br /><br /><br />

<div class="row">
    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham5">
            <div class="card border border-dark" style="width: 18rem;text-decoration:none">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="color:darkorange">Üçlü Mekonomik Menü</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">3 Adet Burger </li>
                    <li class="list-group-item">3 Adet Orta Boy Patates</li>
                    <li class="list-group-item">3 Adet İçecek</li>
                </ul>
                <div class="card-body">
                    <h4>207₺</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham6">
        <div class="card border border-dark" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 style="color:darkorange">Hesaplı Menü</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1 YukselChicken™</li>
                <li class="list-group-item">1 Orta boy Patates, 8'li Soğan Halkası'</li>
                <li class="list-group-item">Coca-Cola Zero Sugar (330 ml)</li>
            </ul>
            <div class="card-body">
                <h4>96₺</h4>
            </div>
        </div>
        </a>
    </div>

    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham7">
        <div class="card border border-dark" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham6.png" class="card-img-top" alt="...">
            <div class="card-body">
                    <h3 style="color:darkorange">BigMaç Menü</h3>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">2 Big Arda</li>
                    <li class="list-group-item">4’lü Chicken McNuggets,  1 Orta Patates </li>
                    <li class="list-group-item"> 1 Adet Litrelik İçecek</li>
            </ul>
            <div class="card-body">
                <h4>143₺</h4>
            </div>
        </div>
        </a>
    </div>


    
     <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham8">
        <div class="card border border-dark" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                    <h3 style="color:darkorange">Köfte Burgerli Tok Artık Menüsü</h3>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">4 Adet Köfte Burger</li>
                    <li class="list-group-item">1 Adet Büyük Boy Patates</li>
                    <li class="list-group-item">2 Adet Orta Boy İçecek</li>
            </ul>
            <div class="card-body">
                <h4>183₺</h4>
            </div>
        </div>
        </a>
    </div>


</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham9">
            <div class="card border border-dark" style="width: 18rem;text-decoration:none">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham.9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="color:darkorange">2’li AYRoyal Menü</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">2 AYRoyal  </li>
                    <li class="list-group-item">1 Orta Patates</li>
                    <li class="list-group-item">2 Orta İçecek</li>
                </ul>
                <div class="card-body">
                    <h4>220₺</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham10">
            <div class="card border border-dark" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="color:darkorange">2’li Double Cheeseburger Menü</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">2 Double Cheeseburger</li>
                    <li class="list-group-item"> 1 Orta Patates </li>
                    <li class="list-group-item"> 2 Orta İçecek</li>
                </ul>
                <div class="card-body">
                    <h4>196₺</h4>
                </div>
            </div>
        </a>
    </div>

    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="ham11">
            <div class="card border border-dark" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham11.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="color:darkorange">Bean Burger® Menü</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1 Bean Burger</li>
                    <li class="list-group-item"> 1 Orta Patates </li>
                    <li class="list-group-item"> 1 Orta Boy İçecek</li>
                </ul>
                <div class="card-body">
                    <h4>143₺</h4>
                </div>
            </div>
        </a>
    </div>



    <div class="col-3">
        <a style="text-decoration:none" asp-area="" asp-controller="home" asp-action="ham12">
            <div class="card border border-dark" style="width: 18rem;">
                <img style=" height:10rem;object-fit:cover;" src="~/img/ham12.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 style="color:darkorange">Etli Barbekü Brioche® Menü</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1 Adet Etli Barbekü Brioche® Burger</li>
                    <li class="list-group-item">1 Adet Orta Boy Patates</li>
                    <li class="list-group-item">1 Adet Büyük Boy İçecek</li>
                </ul>
                <div class="card-body">
                    <h4>183₺</h4>
                </div>
            </div>
        </a>
    </div>

</div>

<br />
<br />


