@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<h1>Site Kullanım Şartları ve Yasal Uyarı</h1>
<br /><br />
<p>
    Yüksel Holding bu web sitesini ziyaret ettiğinizde, doğrudan (istenilen bilgiyi vermeniz halinde) veya dolaylı olarak (ör: internet giriş kayıtları) sizinle ilgili kişisel bilgi toplayabilir. Bu bilgiler, sadece Yüksel Holding tarafından istek ve şikâyetleriniz doğrultusunda kullandırılacaktır. Sizden talep edilmeyen kişisel bilgileri bize verdiğiniz takdirde, bu bilgileri bu sitede belirtilen şekilde kullanmamızı onaylamış olmaktasınız.
    <br /><br />
    1- Bu sitenin (www.yukselburger.com.tr) kullanım hakkı Yüksel Holding İşletmeleri Ltd. Şti’ne aittir. ( Bundan böyle Yüksel Burger olarak anılacaktır.) Bu sitede tanıtılan ürünler, yalnızca Türkiye’deki Yüksel Burger Restoranlarında satılmaktadır ve bu sitede yer alan kampanyalar yalnızca söz konusu kampanyaya katılan restoranlarda geçerlidir. Bu sitede yer alan tüm içerik yalnızca bilgi amaçlıdır. Bu siteden elde edilen bilgiler yetkili satıcı ve servislerden edinebileceğiniz bilgilerin yerine kullanılmaz veya doğru olarak kabul edilmez.
    <br />    <br />
    2- Yüksel Holding, bu web sitesinde yer alan bütün ürün ve hizmetleri, bilgileri ve görsel unsurları önceden bildirimde bulunmaksızın değiştirme hakkını saklı tutar. Metinler, resimler, çizimler, ses, animasyon ve diğer unsurlar telif hakkına tabidir. Bu düzenlemeler ticari kullanım amacıyla kopya edilemez, değiştirilemez, dağıtılamaz veya diğer sitelere gönderilemez. Bu sitede yer alan tüm markalar, ürün isimleri, şirket logo ve amblemleri de ayrıca marka hakkına tabidir. Aksi bir durum veya kullanım her türlü hukuki ve cezai takibatın yapılmasına neden olacaktır.
    <br />
    <br />

    3- Yüksel Holding web sitesinin virüs ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir almış olmakla birlikte, nihai güvenliğin sağlanması için kullanıcı, kendi virüs koruma sistemini tedarik etmek ve gerekli korumayı sağlamakla yükümlüdür. Bu çerçevede kullanıcı, Yüksel Burger sitesine girmesi nedeniyle kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan yada dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul eder.
    <br />   <br />

    4- Yüksel Holding web sitesinde yer alan her türlü fiyat, bilgi, resim , açıklama ve haber (kısaca "bilgi") sadece tanıtım ve bilgi verme amaçlıdır. Kullanıcı hiçbir şekilde web sitesinde yer alan "bilgi"lerin hatalı olduğu ya da bu bilgilere istinaden zarara uğradığı iddiasında bulunamaz. Kullanıcı, bilgileri referans alarak bir işlem yapmak niyetinde olduğunda, nihai ve güvenilir enformasyonu Anadolu Restoran’dan temin etmekle yükümlü olduğunu ve web sitesinde yayınlanan bilgilerin güncel olmaması nedeniyle Yüksel Holding herhangi bir sorumluluğu olmadığını kabul eder.
    <br />   <br />

    5- Yüksel Holding kendi takdirinde olmak üzere sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme ve Anadolu Restoran web sitesinde kayıtlı kullanıcı bilgi ve verilerini silme, devretme hakkını saklı tutar. Anadolu Restoran web sitesinin hatasız olması için her türlü tedbir almış olmakla birlikte, sitede mevcut ya da oluşabilecek hatalar ile ilgili herhangi bir garanti verilmemektedir.
    <br />   <br />

    6- Resmi makamlardan kullanıcıya yönelik bir suç duyurusu yada resmi soruşturma talebi gelmesi ve/veya kullacının Yüksel Holding sistemlerinin çalışmasına engel olacak yada işleyişini değiştirecek herhangi bir elektronik sabotaj veya saldırı yaptığının tespit edilmesi halinde, Yüksel Burger kullanıcının kimlik bilgilerini araştırma ve yasal mercilere bildirimde bulunma hakkına sahiptir.
    <br />    <br />

    7- Yüksel Holding bu web sitesini ziyaret ettiğinizde, doğrudan (istenilen bilgiyi vermeniz halinde) veya dolaylı olarak (ör: internet giriş kayıtları) sizinle ilgili kişisel bilgi toplayabilir. Bu bilgiler, sadece Yüksel Holding tarafından istek ve şikâyetleriniz doğrultusunda kullandırılacaktır. Ayrıca Yüksel Holding bu bilgileri, gelecekte, pazarlama, pazar araştırması, satış bilgilerinin takibi ve size ulaşmak gibi amaçlarla kullanmak üzere saklayacaktır. Sizden talep edilmeyen kişisel bilgileri bize verdiğiniz takdirde, bu bilgileri bu sitede belirtilen şekilde kullanmamızı onaylamış olmaktasınız.
    <br />  <br />

    8- Yüksel Holding bu web sitesine veya bu siteden bağlantı yapılarak ulaşılan herhangi bir web sitesine girilmesi veya bunların kullanımından doğabilecek doğrudan veya dolaylı kayıp veya zararlardan Yüksel Holding sorumlu tutulamaz.
    <br />    <br />

    9- İnternetin yapısı gereği bilgiler internet üzerinde yeterli güvenlik önlemleri olmaksızın dolaşabilir ve yetkili olmayan kişiler tarafından alınıp kullanılabilir. Bu kullanım ve kullanımdan doğacak zarar Yüksel Holding sorumluluğunda değildir.
    <br />    <br />

    10- Yüksel Holding web sitesi, "kullanım şartları"nın herhangi bir maddesini, bildirimde bulunmaksızın değiştirme, yenileme veya iptal hakkına sahiptir. Değiştirilen, yenilenen yada yürürlükten kaldırılan her hüküm, yayın tarihinde tüm kullanıcılar bakımından hüküm ifade edecektir.
    <br />    <br />

    11- Kullanıcılar ile Yüksel Holding arasında ortaya çıkabilecek ihtilâflarda, Yüksel Holding elektronik kayıtları delil olarak kabul edilecektir. Bu tür ihtilâfların çözümünde işbu kullanım şartı ve yasal uyarı metni esas alınacak olup, İstanbul mahkemeleri ve icra daireleri yetkili olacak ve ihtilâf Türkiye Cumhuriyeti Kanunlarına göre çözülecektir.
    <br />


</p>
    