@{
    ViewData["Title"] = "Privacy Policy";
}
<p>
    Gizlilik Politikası
    Site Adresiniz a hangi sebepten dolayı giriş yaparsanız yapın aşağıdaki yazan kuralları kabul etmiş sayılırsınız.
    <br /> <br /> 
    Fikri Mülkiyet
    Site Adresiniz orijinal içerik, özellik ve işlevleri Site Adresiniz'a aittir.
    <br /> <br /> 
    Site Adresiniz tüm hakları saklıdır.
    <br /> <br /> 
    Site Adresiniz da paylaşılan her türlü yazı ve içerik ve düzenlemelerimizin telif hakları 5846 numaralı yasa ile telif hakları korunmaktadır. Bunlar Site Adresiniz’un gönderileri kaynak belirtilmeksizin kopyalama ve kullanımı yapılamaz.
    <br /> <br /> 
    Sonlandırma
    Site Adresiniz Kullanıcıların siteye erişimini engelleyebilir. Bunların tamamını bildirimde bulunmaksızın yapabilir. Tüm bu sınırlama ve müdahaleler mülkiyet hükümleri, garanti muafiyetleri, tazminat olmadan fesih edilebilir.
    <br /> <br />
    Diğer Siteler İçin Bağlantılar
    Site Adresiniz 3.parti site bağlantılarının şikayet edilmesi durumunda bu bağlantılara müdahale etme hakkına sahiptir.
    <br /> <br />
    Site Adresiniz paylaştığı içeriklerdeki indirme bağlantıları ya da herhangi bir 3. parti siteye yönlendirme bağlantısından doğabilecek itilaflar dan sorumlu değildir.
    <br /> <br />
    Uygulanacak Hukuk
    Bu anlaşma dahilindeki herhangi maddeyi kapsayan detaylı kurallar, politikaların itilafı durumunda Türkiye Cumhuriyeti kanunları geçerlidir.
    <br /> <br /> 
    Bu Anlaşma İçin Değişiklikler
    Site Adresiniz bu anlaşma kapsamında güncellenen şartları sitede yayınlamak ile yükümlüdür.
    <br /> <br /> 
    Bu maddelerin tamamı tek taraflı olarak Site Adresiniz tarafından değiştirme hakkını saklı tutar.
    <br /> <br /> 
    Bu değişiklerin ardından Site Adresiniz u kullanmaya devam etmeniz yeni şartların kabul edildiğini gösterir.
    <br /> <br />
</p>
